#login-buttons {
  position: fixed;
  top: .5em;
  right: .5em;
  z-index: 10;
}

#login-dropdown-list {
  position: relative;
  top: -4px;
  margin: .5em;
}

#navMain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aNav {
  flex-grow: 2;
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 2px black;
  border-radius: 3px;
  padding: .2em;
  text-decoration: none;
  border: 1px solid black;
  margin: 0 .3em;
  padding: 1em;
  text-align: center;
  transform: skewX(-12deg);
  font-variant: small-caps;
  font-size: 1.5em;
}

.aNav:hover {
    text-decoration: none;
}

header {
  margin-bottom: 1em;
}
