input,
textarea{
  display: block;
  width: 100%;
}

input[type="radio"] {
    display: inline-block;
    width: auto !important;
}

#divInNomClient,
#divInGender{
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.inNomClient,
.divGenderOption {
  // flex-grow: 2;
  // display: inline-block;
  // width: 31%;
}

.divGenderOption{
  // text-align: right;
}

.divGenderOption input[type="radio"]{
  display: inline;
}

#divClientContact {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}
