img {
    border-radius: .8em;
    box-shadow: 0 .5em .5em;
}

.divExerciciImgText {
    background: rgba(190, 180, 200, .2);
    //font-weight: bold;
    font-size: small;
    padding: .5em 1em;
    margin: .5em 2em;
    //border: 1px solid;
}

.divExerciciDescripcio {
    background: rgba(190, 180, 200, .2);
    font-weight: bold;
    padding: .5em 1em;
    margin: .5em 2em;
    //border: 1px solid;
}

.divGridExerciciImgs {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1em;
}

.divExerciciImatges {
    max-width: 300px;
    padding: 0 auto;
    margin: 0 2em;
    //border: 1px solid;
}

.imgExercici {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 200px;
}

.divExerciciImatgePrincipal {
    max-width: 500px;
    padding: 0 auto;
    margin: 0 2em;
    //border: 1px solid;
    display: grid;
    justify-self: center;
}

.imgPrincipalExercici {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 400px;
}

// .divExerciciImatges::before {
//     content: "Fig :"
// }
