input,
textarea {
  display: block;
}

.btAddNew, .btPrintList {
  flex-grow: 2;
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 black;
  border-radius: 3px;
  padding: .2em;

}

body {
    background-color: transparent;
}

.main-layout {
    width: 98%;
    margin: 0 auto;
}
