/* CSS declarations go here */
$bg_color: lightsteelblue;
$headers_color: steelblue;

*{
  transition: all .2s;
  box-sizing: border-box;
}

#aH1{
  color: $headers_color;
  text-shadow: 1px 1px 3px grey;
  border: none;
  text-decoration: none;
  font-variant: small-caps;
  text-align: center;
}

#aH1:active{
  border: none;
  outline: none;
}

html{
  //background: $bg_color;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  background-attachment: fixed;
}

.ulResolutions{
  list-style: none;
}

// BOTONS
button, input[type="submit"] {
    text-decoration: none;
    border: 1px solid black;
    margin: 0 .3em;
    //padding: 1em !important;
    text-align: center;
    transform: skewX(-12deg);

    border-radius: 5px !important;
    background: rgba(255,255,255,.5);
    color: black;
    text-shadow: 1px 1px 5px;
}




@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOut {
  0%{
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(50px, 0, 0);
  }
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.resolutionLoad-enter{
  animation: slideIn .6s cubic-bezier(.165, .84, .44, 1);
}

.resolutionLoad-leave{
  animation: slideOut .4s cubic-bezier(.165, .84, .44, 1);
  opacity: 0;
}

.route-enter, .route-appear{
  opacity: 0;
  animation: slideIn .6s cubic-bezier(.165, .84, .44, 1);
}

.route-leave{
  animation: slideOut .4s cubic-bezier(.165, .84, .44, 1);
  opacity: 0;
}

.route-appear{
  opacity: 0;
  animation: slideUp .6s cubic-bezier(.165, .84, .44, 1);
}

/******* HACK PER VISIBILITZAR ELS Selects DE LES TAULES **********************/
.react-bs-table table td, .react-bs-table table th {
    overflow: scroll !important;
}

.react-bs-container-body {
    overflow: visible !important;
}
