svg {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
}

.bar:hover rect {
  fill: brown;
}

.value {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  stroke: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.y.axis path {
  stroke: black;
}
